/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f1dcdc;
    font-family: 'Pokemon Solid', sans-serif;
                                                
  }

.pokedex {
  background-color: #EC2B2B;
}
